@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Oswald&display=swap');

body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1F1F1F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  color: #BEBEBE;
}

a {
  text-decoration: none;
  color: #BEBEBE;
}

p, small {
  color: #909090;
}
